.nav {
  background-color: #000;

  &__wrapper {
    width: 980px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }
  
  &__item {
    margin-right: 18px;
  }
  
  &__link {
    @include linksText;
  }

  &__section {
    .nav__link {
      margin: 0 31px;
    }
  }

  &__select {
    width: 180px;
    height: 40px;
    border-radius: 0%;
    outline: none;
    background: #2B2B2B;
    color: #fff;
    font-family: "SFUIDisplay-Regular", sans-serif;
    text-align: center;
  }
}