* {
  box-sizing: border-box;
}

html,
body,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
footer,
main,
header {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  src: url(../fonts/SFUIDisplay-Bold.woff) format("woff"), url(../fonts/SFUIDisplay-Bold.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url(../fonts/SFUIDisplay-Regular.woff) format("woff"), url(../fonts/SFUIDisplay-Regular.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay-Thin";
  src: url(../fonts/SFUIDisplay-Thin.woff) format("woff"), url(../fonts/SFUIDisplay-Thin.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay-Ultralight";
  src: url(../fonts/SFUIDisplay-Ultralight.woff) format("woff"), url(../fonts/SFUIDisplay-Ultralight.woff2) format("woff2");
  font-style: normal;
}
.header {
  font-family: "SFUIDisplay-Regular", sans-serif;
}
.header__wrapper {
  width: 980px;
  margin: 0 auto;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bcg-first {
  position: absolute;
  left: 0;
  z-index: -1;
}
.header__bcg-second {
  position: absolute;
  left: 19px;
  z-index: -1;
}
.header__logo {
  height: 71px;
  width: 68px;
}
.header__contact {
  align-self: flex-end;
  display: grid;
  grid-gap: 11px 27px;
  grid-template-areas: "number btn" "lang btn";
  grid-template-rows: 31px 26px;
}
.header__number {
  grid-area: number;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
  color: #000;
  height: 31px;
}
.header__languages {
  grid-area: lang;
  display: grid;
  grid-template-columns: repeat(14, max-content);
  grid-gap: 12px;
}
.header__lang {
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  color: #c1c1c1;
  text-transform: uppercase;
  text-align: right;
  position: relative;
}
.header__lang-active {
  color: #000;
}
.header__lang-active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background: #27C5DC;
}
.header__btn {
  grid-area: btn;
  position: relative;
}
.header__span {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  color: #fff;
  text-align: center;
}

.nav {
  background-color: #000;
}
.nav__wrapper {
  width: 980px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 18px;
}
.nav__link {
  color: #fff;
  font-size: 15px;
  line-height: 18px;
}
.nav__section .nav__link {
  margin: 0 31px;
}
.nav__select {
  width: 180px;
  height: 40px;
  border-radius: 0%;
  outline: none;
  background: #2B2B2B;
  color: #fff;
  font-family: "SFUIDisplay-Regular", sans-serif;
  text-align: center;
}

.title {
  height: 635px;
  padding-top: 91px;
  background-image: url(../images/background.png);
  color: #fff;
}
.title__wrapper {
  width: 980px;
  margin: 0 auto;
}
.title__header {
  text-transform: uppercase;
  font-family: "SFUIDisplay-Bold";
  font-size: 50px;
  line-height: 60px;
}
.title__subtitle {
  font-family: "SFUIDisplay-Ultralight";
  font-size: 50px;
  line-height: 60px;
}
.title__description {
  display: flex;
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0;
}
.title__line {
  width: 3px;
  height: 85px;
  background: #27C5DC;
  border-radius: 10px;
  margin-right: 30px;
}
.title__criteria {
  display: flex;
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
}
.title__icon {
  margin-right: 20px;
}

.appeal {
  position: relative;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
.appeal__text {
  text-align: center;
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
  font-family: "SFUIDisplay-Regular";
}
.appeal__btn {
  margin-top: 30px;
  width: 203px;
  height: 51px;
  border: 2px solid #0A6DC9;
  border-radius: 10px;
  background: transparent;
  font-family: "SFUIDisplay-Bold";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.appeal__bcg-first {
  position: absolute;
  left: 0;
  top: -265px;
  z-index: -1;
}
.appeal__bcg-second {
  position: absolute;
  right: 0;
  top: -245px;
  z-index: -1;
}

.proposal__wrapper {
  width: max-content;
  margin: 0 auto 130px;
}
.proposal__header {
  margin-bottom: 50px;
  font-family: "SFUIDisplay-Bold";
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #000;
}
.proposal__catalog {
  display: flex;
  gap: 20px;
}
.proposal__card {
  width: 466px;
  height: 367px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
  font-family: "SFUIDisplay-Regular";
}
.proposal__card img {
  margin-bottom: 20px;
}

.program {
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
  font-family: "SFUIDisplay-Bold";
  position: relative;
}
.program__wrapper {
  max-width: 1440px;
  margin: 0 auto 130px;
}
.program__bcg {
  position: absolute;
  right: 0;
  top: 70px;
  transform: rotate(-3.43deg);
}
.program__header {
  margin-bottom: 50px;
  font-family: "SFUIDisplay-Bold";
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #000;
}
.program__catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.program__card {
  width: 710px;
  height: 361px;
  position: relative;
}
.program__image {
  width: 710px;
  height: 284px;
}
.program__age {
  display: block;
  width: 146px;
  height: 57px;
  line-height: 57px;
  position: absolute;
  right: 0;
  top: 45px;
  background: #fff;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
}
.program__text {
  width: 709px;
  height: 77px;
  line-height: 77px;
  background: #F2F6F9;
  border-radius: 0px 0px 30px 30px;
  position: relative;
  padding: 0 37px;
}
.program__link {
  display: block;
  width: 90px;
  height: 77px;
  background: #0066C5;
  border-radius: 0px 0px 30px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.program__link img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages__wrapper {
  max-width: 1440px;
  margin: 0 auto 130px;
}
.advantages__header {
  margin-bottom: 50px;
  font-family: "SFUIDisplay-Bold";
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #000;
}
.advantages__catalog {
  width: 1440px;
  height: 178px;
  display: flex;
  justify-content: space-between;
}
.advantages__line {
  width: 3px;
  height: 178px;
  background: #f2f6f9;
}
.advantages__card {
  width: 344px;
  height: 178px;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
}
.advantages__card img {
  width: 130px;
  height: 120px;
}
.advantages__text {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.main__consulting {
  margin: 0 auto;
}

.consulting {
  max-width: 2000px;
  position: relative;
}
.consulting__wrapper {
  max-width: 1440px;
  margin: 0 auto 130px;
  margin-bottom: 140px;
  height: 647px;
}
.consulting__header {
  margin-bottom: 40px;
  font-family: "SFUIDisplay-Bold";
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #000;
}
.consulting__image-first {
  position: absolute;
  left: 0;
}
.consulting__image-second {
  position: absolute;
  right: 1015px;
  top: 196px;
  z-index: -1;
}
.consulting__image-third {
  position: absolute;
  right: 0;
  top: 0;
  width: 1109px;
  height: 647px;
}
.consulting__content {
  width: 519px;
  margin-left: 66px;
}
.consulting__text {
  width: 503px;
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
  font-family: "SFUIDisplay-Regular";
}
.consulting__btn {
  margin: 40px 0px;
  width: 318px;
  height: 51px;
  background: #0066C5;
  border-radius: 10px;
  color: #fff;
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
  font-family: "SFUIDisplay-Bold";
}

.footer {
  height: 178px;
  padding: 18px;
  background: #000;
}
.footer__text {
  margin-bottom: 17px;
  font-family: "SFUIDisplay-Thin";
  font-size: 18px;
  line-height: 22px;
  font-family: "SFUIDisplay-Bold";
  color: #fff;
  text-align: center;
}
.footer__links {
  margin: 0 auto 25px;
  width: 155px;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  width: 42px;
  height: 42px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 50%;
}
.footer__link-first {
  border-color: #27C5DC;
}
.footer__link img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__copyright {
  font-family: "SFUIDisplay-Regular";
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
